*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-top-\[23px\] {
  top: -23px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-5 {
  bottom: 1.25rem;
}

.bottom-\[3px\] {
  bottom: 3px;
}

.left-0 {
  left: 0px;
}

.left-3 {
  left: 0.75rem;
}

.left-\[14px\] {
  left: 14px;
}

.left-\[17px\] {
  left: 17px;
}

.left-\[57px\] {
  left: 57px;
}

.right-0 {
  right: 0px;
}

.right-1\/2 {
  right: 50%;
}

.right-\[14px\] {
  right: 14px;
}

.right-\[21px\] {
  right: 21px;
}

.right-\[6px\] {
  right: 6px;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-\[13px\] {
  top: 13px;
}

.top-\[14px\] {
  top: 14px;
}

.top-\[16px\] {
  top: 16px;
}

.z-10 {
  z-index: 10;
}

.z-30 {
  z-index: 30;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[2px\] {
  margin-bottom: 2px;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[155px\] {
  margin-top: 155px;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.size-4 {
  width: 1rem;
  height: 1rem;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-\[20px\] {
  width: 20px;
  height: 20px;
}

.size-\[24px\] {
  width: 24px;
  height: 24px;
}

.size-\[250px\] {
  width: 250px;
  height: 250px;
}

.size-\[30px\] {
  width: 30px;
  height: 30px;
}

.size-\[32px\] {
  width: 32px;
  height: 32px;
}

.size-\[38px\] {
  width: 38px;
  height: 38px;
}

.size-\[44px\] {
  width: 44px;
  height: 44px;
}

.size-\[45px\] {
  width: 45px;
  height: 45px;
}

.size-\[48px\] {
  width: 48px;
  height: 48px;
}

.size-\[60px\] {
  width: 60px;
  height: 60px;
}

.size-\[65px\] {
  width: 65px;
  height: 65px;
}

.size-\[70px\] {
  width: 70px;
  height: 70px;
}

.size-\[90px\] {
  width: 90px;
  height: 90px;
}

.h-2 {
  height: 0.5rem;
}

.h-\[105px\] {
  height: 105px;
}

.h-\[110px\] {
  height: 110px;
}

.h-\[130px\] {
  height: 130px;
}

.h-\[142px\] {
  height: 142px;
}

.h-\[143px\] {
  height: 143px;
}

.h-\[15px\] {
  height: 15px;
}

.h-\[190px\] {
  height: 190px;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[21px\] {
  height: 21px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[26px\] {
  height: 26px;
}

.h-\[276px\] {
  height: 276px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[421px\] {
  height: 421px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[49px\] {
  height: 49px;
}

.h-\[522px\] {
  height: 522px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[68px\] {
  height: 68px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[72px\] {
  height: 72px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[89px\] {
  height: 89px;
}

.h-\[calc\(100\%_-_2px\)\] {
  height: calc(100% - 2px);
}

.h-full {
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.\!w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.w-1 {
  width: 0.25rem;
}

.w-1\/2 {
  width: 50%;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-\[113px\] {
  width: 113px;
}

.w-\[132px\] {
  width: 132px;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[222px\] {
  width: 222px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[330px\] {
  width: 330px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[45px\] {
  width: 45px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[72px\] {
  width: 72px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[81px\] {
  width: 81px;
}

.w-\[89px\] {
  width: 89px;
}

.w-\[calc\(100\%_-_2px\)\] {
  width: calc(100% - 2px);
}

.w-full {
  width: 100%;
}

.w-px {
  width: 1px;
}

.max-w-\[640px\] {
  max-width: 640px;
}

.shrink-0 {
  flex-shrink: 0;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-1\/2 {
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-180 {
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize-none {
  resize: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[14px\] {
  gap: 14px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[55px\] {
  gap: 55px;
}

.gap-\[6px\] {
  gap: 6px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[23px\] {
  border-radius: 23px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-t-\[30px\] {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.border {
  border-width: 1px;
}

.border-\[\#E3E3E4\] {
  --tw-border-opacity: 1;
  border-color: rgb(227 227 228 / var(--tw-border-opacity));
}

.border-cosmetics-greylight {
  --tw-border-opacity: 1;
  border-color: rgb(227 227 228 / var(--tw-border-opacity));
}

.bg-\[\#099954\] {
  --tw-bg-opacity: 1;
  background-color: rgb(9 153 84 / var(--tw-bg-opacity));
}

.bg-\[\#0C0422\] {
  --tw-bg-opacity: 1;
  background-color: rgb(12 4 34 / var(--tw-bg-opacity));
}

.bg-\[\#360CAC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(54 12 172 / var(--tw-bg-opacity));
}

.bg-\[\#D8D8E4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(216 216 228 / var(--tw-bg-opacity));
}

.bg-\[\#E0E0EC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(224 224 236 / var(--tw-bg-opacity));
}

.bg-\[\#EDEDF5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 237 245 / var(--tw-bg-opacity));
}

.bg-\[\#F5F5F7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 247 / var(--tw-bg-opacity));
}

.bg-\[\#F6F6F8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 248 / var(--tw-bg-opacity));
}

.bg-\[\#FAF9FA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 249 250 / var(--tw-bg-opacity));
}

.bg-\[\#FF9D2A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 157 42 / var(--tw-bg-opacity));
}

.bg-cosmetics-greylight {
  --tw-bg-opacity: 1;
  background-color: rgb(227 227 228 / var(--tw-bg-opacity));
}

.bg-cosmetics-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(54 12 172 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[linear-gradient\(87deg\2c _\#360CAC_16\.85\%\2c _\#FF4D9F_81\.08\%\)\] {
  background-image: linear-gradient(87deg, #360CAC 16.85%, #FF4D9F 81.08%);
}

.bg-cosmetics-gradient-pink-white {
  background-image: linear-gradient(90.54deg, #FF4D9E 36.33%, #FF97BD 99.53%);
}

.bg-cosmetics-gradient-purple-pink {
  background-image: linear-gradient(180deg, #360CAC 0%, #FF4D9F 100%);
}

.bg-cover {
  background-size: cover;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.p-5 {
  padding: 1.25rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[2px\] {
  padding: 2px;
}

.p-px {
  padding: 1px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[12px\] {
  padding-left: 12px;
  padding-right: 12px;
}

.px-\[14px\] {
  padding-left: 14px;
  padding-right: 14px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[24\.5px\] {
  padding-left: 24.5px;
  padding-right: 24.5px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[19px\] {
  padding-top: 19px;
  padding-bottom: 19px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-\[102px\] {
  padding-bottom: 102px;
}

.pb-\[125px\] {
  padding-bottom: 125px;
}

.pb-\[141px\] {
  padding-bottom: 141px;
}

.pb-\[14px\] {
  padding-bottom: 14px;
}

.pb-\[162px\] {
  padding-bottom: 162px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pb-\[44px\] {
  padding-bottom: 44px;
}

.pb-\[48px\] {
  padding-bottom: 48px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-\[14px\] {
  padding-left: 14px;
}

.pl-\[57px\] {
  padding-left: 57px;
}

.pr-\[13px\] {
  padding-right: 13px;
}

.pr-\[92px\] {
  padding-right: 92px;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[13px\] {
  padding-top: 13px;
}

.pt-\[14px\] {
  padding-top: 14px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.leading-\[18px\] {
  line-height: 18px;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[26px\] {
  line-height: 26px;
}

.leading-\[27px\] {
  line-height: 27px;
}

.leading-\[28px\] {
  line-height: 28px;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[33px\] {
  line-height: 33px;
}

.leading-\[39px\] {
  line-height: 39px;
}

.text-\[\#030504\] {
  --tw-text-opacity: 1;
  color: rgb(3 5 4 / var(--tw-text-opacity));
}

.text-\[\#0C0422\] {
  --tw-text-opacity: 1;
  color: rgb(12 4 34 / var(--tw-text-opacity));
}

.text-\[\#43484C\] {
  --tw-text-opacity: 1;
  color: rgb(67 72 76 / var(--tw-text-opacity));
}

.text-\[\#8C8582\] {
  --tw-text-opacity: 1;
  color: rgb(140 133 130 / var(--tw-text-opacity));
}

.text-\[\#ACACB9\] {
  --tw-text-opacity: 1;
  color: rgb(172 172 185 / var(--tw-text-opacity));
}

.text-\[\#E70011\] {
  --tw-text-opacity: 1;
  color: rgb(231 0 17 / var(--tw-text-opacity));
}

.text-cosmetics-grey {
  --tw-text-opacity: 1;
  color: rgb(140 133 130 / var(--tw-text-opacity));
}

.text-cosmetics-pink {
  --tw-text-opacity: 1;
  color: rgb(255 77 158 / var(--tw-text-opacity));
}

.text-cosmetics-purple {
  --tw-text-opacity: 1;
  color: rgb(54 12 172 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-0 {
  opacity: 0;
}

.shadow-\[0px_-4px_30px_0px_\#1107260D\] {
  --tw-shadow: 0px -4px 30px 0px #1107260D;
  --tw-shadow-colored: 0px -4px 30px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-shadow {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(218 225 233 / var(--tw-bg-opacity));
  font-family: Poppins, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(12 4 34 / var(--tw-text-opacity));
}

.custom-bullet-active {
  background: linear-gradient(180deg, #360cac 0%, #ff4d9f 100%);
}

.box {
  background-image: repeating-linear-gradient(270deg, #e0e0ec, #e0e0ec 8px, transparent 8px, transparent 15px, #e0e0ec 15px);
  background-size: 100% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.box2 {
  background-image: repeating-linear-gradient(0deg, #e0e0ec, #e0e0ec 10px, transparent 8px, transparent 14px);
  background-size: 4px 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.file\:hidden::file-selector-button {
  display: none;
}

.placeholder\:text-sm::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.placeholder\:text-sm::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.placeholder\:font-normal::-moz-placeholder {
  font-weight: 400;
}

.placeholder\:font-normal::placeholder {
  font-weight: 400;
}

.placeholder\:leading-\[21px\]::-moz-placeholder {
  line-height: 21px;
}

.placeholder\:leading-\[21px\]::placeholder {
  line-height: 21px;
}

.placeholder\:leading-\[24px\]::-moz-placeholder {
  line-height: 24px;
}

.placeholder\:leading-\[24px\]::placeholder {
  line-height: 24px;
}

.placeholder\:text-\[\#ACACB9\]::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(172 172 185 / var(--tw-text-opacity));
}

.placeholder\:text-\[\#ACACB9\]::placeholder {
  --tw-text-opacity: 1;
  color: rgb(172 172 185 / var(--tw-text-opacity));
}

.placeholder\:text-cosmetics-grey::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(140 133 130 / var(--tw-text-opacity));
}

.placeholder\:text-cosmetics-grey::placeholder {
  --tw-text-opacity: 1;
  color: rgb(140 133 130 / var(--tw-text-opacity));
}

.focus-within\:h-\[calc\(100\%_-_4px\)\]:focus-within {
  height: calc(100% - 4px);
}

.focus-within\:w-\[calc\(100\%_-_4px\)\]:focus-within {
  width: calc(100% - 4px);
}

.focus-within\:bg-cosmetics-gradient-purple-pink:focus-within {
  background-image: linear-gradient(180deg, #360CAC 0%, #FF4D9F 100%);
}

.hover\:h-\[calc\(100\%_-_4px\)\]:hover {
  height: calc(100% - 4px);
}

.hover\:w-\[calc\(100\%_-_4px\)\]:hover {
  width: calc(100% - 4px);
}

.hover\:rounded-\[22px\]:hover {
  border-radius: 22px;
}

.hover\:bg-cosmetics-gradient-purple-pink:hover {
  background-image: linear-gradient(180deg, #360CAC 0%, #FF4D9F 100%);
}

.hover\:p-\[2px\]:hover {
  padding: 2px;
}

.hover\:shadow-\[0px_6px_10px_0px_\#FF4D9E6E\]:hover {
  --tw-shadow: 0px 6px 10px 0px #FF4D9E6E;
  --tw-shadow-colored: 0px 6px 10px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-\[0px_6px_22px_0px_\#FF4D9E82\]:hover {
  --tw-shadow: 0px 6px 22px 0px #FF4D9E82;
  --tw-shadow-colored: 0px 6px 22px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:h-\[calc\(100\%_-_4px\)\]:focus {
  height: calc(100% - 4px);
}

.focus\:w-\[calc\(100\%_-_4px\)\]:focus {
  width: calc(100% - 4px);
}

.focus\:rounded-\[22px\]:focus {
  border-radius: 22px;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:focus-within .group-focus-within\:bg-cosmetics-gradient-purple-pink {
  background-image: linear-gradient(180deg, #360CAC 0%, #FF4D9F 100%);
}
